@charset "UTF-80";


*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    color:white;
    font-size: 1.6rem;
}

a:hover {
    font-size: 1.8rem;
    transition: 0.5s;
}